/*
* @Author: Gisko Maksim
* @Date:   2018-04-27 22:37:06
* @Last Modified by:   Gisko Maksim
* @Last Modified time: 2018-04-27 23:42:00
*/
.react-spinner_wrap {
  width: 50px;
  height: 50px;
  background-color: white;
}

.react-spinner {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: black;
  position: absolute;
  width: 20%;
  height: 2%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}
